@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: rgba(255,255,255,0.7);
    transition:0.7s ease-in-out;
    border: 1px solid #808080 ;
    padding-left: 5px;
}

button {
    width: 30px;
}

input:focus {
    background-color: rgba(255,255,255,1);
    transition:0.7s ease-in-out;
}


.search {
    display: flex;
}

.info {
    background-color: rgba(255,255,255,0.9);
    margin-top: 10px;
    height: 500px;
    width: 300px;
    border: 1px solid #5C2E24;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visible {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide-bottom 1s ease-in-out forwards;
}

img {
    animation: fade-in-top 400ms ease-out forwards;
}

h2 {
    text-align: center;
    animation: fade-in-top 400ms ease-out forwards;
}

p {
    font-size: 25px;
    animation: fade-in-top 400ms ease-out forwards;
}

.visible ul {
    display: block;
}

.visible li {
    
    opacity: 0;
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    animation: fade-in-top 400ms ease-out forwards;
}

span {
    margin-left: 10px;
    text-align: center;
}

.visible li:nth-child(1){
    animation-delay: 100ms;
}

.visible li:nth-child(2){
    animation-delay: 200ms;

}

.visible li:nth-child(3){
    animation-delay: 300ms;

}

i {
    padding-bottom: 5px;
}


@-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

@-webkit-keyframes slide-bottom {
0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
}
}
@keyframes slide-bottom {
0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
}
}


